@import "tailwindcss";

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium  */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}
  
@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}
  
body{
    margin: 0 5% 0 5%;
    font-family: "Onest", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

