@import "tailwindcss";

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium  */
    font-style: normal;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}
  
@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}
  
body{
    margin: 0 5% 0 5%;
    font-family: "Onest", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header a {
    font-size: 18px;
    font-weight: 500;
    margin-right: 3%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

header a:hover {
    color: #4824ff;
    filter: drop-shadow(0px 0px 50px #4824ff);
}

.headerButton{
    height: 55px;
    width: 222px;
    border-radius: 55px; 
    background-color: #4824ff;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    margin-right: 2%;
    cursor: pointer;
    outline: none;   
}

.headerButton:hover {
    filter: drop-shadow(0px 0px 35px #4824ff);
} 

.headerButton::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 300px;
    background-color: #ffffffbd;
    filter: blur(2px);
    transition: 1.5s;
    transform: rotate(-20deg) translateX(-50px) translateY(-200px); 
}

.headerButton:hover::before{
    transform: rotate(-20deg) translateX(200px); 
}